[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "==9.1.1"
django-admin-thumbnails = "==0.2.6"
django-embed-video = "*"
sendgrid-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
